# Ignore EE config and database files
wp-config.php
.htaccess

# Ignore Sass-Cache
*.sass-cache
.sass-cache/*
//wp-content/themes/redprolid/stylesheets/main.css.map
wp-content/themes/redprolid/header.php
wp-content/themes/redprolid/footer.php
