<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Red Prolid | Banco Interamericano del Desarrollo BID</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="apple-touch-icon" href="">

    <!-- WebFonts -->
    <script async type="text/javascript" src="//use.typekit.net/nsv5vjx.js"></script>
    <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/ebm-loops.css">
    <!-- <link rel="stylesheet" href="stylesheets/main.min.css"> -->
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a href="#"><img src="../assets/img/logo_redprolid-header.png" class="img-responsive"></a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="user-sign-up text-center">
              <h3>¿Quieres ser parte <br>de la Red PROLID?</h3>
              <a href="#" class="btn btn-primary">Únete</a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="user-sign-in-form">
              <form>
                <h4>Mi información</h4>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Usuario o correo electrónico">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group row">
                  <div class="col-xs-7">
                    <a href="#" class="">Olvidé mi contraseña</a>
                  </div>
                  <div class="col-xs-5 text-right">
                    <button type="submit" class="btn btn-primary btn-sm">Ingresa</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="nav-main-menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 pr-0">
            <ul class="list-unstyled m-0">
              <li><a href="#" class="home"><i></i></a></li>
              <li>
                <a href="#" class="red-prolid"><i></i><span>Red PROLID</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Contáctanos</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="dtl"><i></i><span>Desarrolla tu liderazgo</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">¿A dónde v@mos?</a></li>
                  <li><a href="#">Carrera de vallas</a></li>
                  <li><a href="#">Nivelando la cancha</a></li>
                  <li><a href="#">Listas para la política</a></li>
                  <li><a href="#">Agenda de género</a></li>
                  <li>
                    <a href="#">Pistas &gt;</a>
                    <ul class="list-unstyled">
                      <li><a href="#">"La pinta no es lo de menos"</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="enterate"><i></i><span>Entérate</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Noticias</a></li>
                  <li><a href="#">Eventos</a></li>
                  <li><a href="#">Nuestro boletín</a></li>
                  <li><a href="#">Campeonas</a></li>
                  <li><a href="#" class="videos"><span></span>Videos</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="concursos"><i></i><span>Concursos</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Concursos anteriores</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="charla-cafe"><i></i><span>Charlacafé</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Foros virtuales</a></li>
                  <li><a href="#">Webinarios</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 pl-0">
            <form>
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mh-700">
      <!-- SI NO HAY FOROS -->
      <section>
        <div class="container">
          <div class="">
            <div class="clearfix">
              <div class="col-sm-6">
                <h1>Tus respuestas</h1>
              </div>
              <div class="col-sm-6 pt-28">
                <nav class="text-right">
                  <a href="#" class="see-more">Foro actual</a>
                </nav>
              </div>
            </div>
            <hr style="border-top: 3px dotted #aeab8b;">
          </div>
        </div>
        <div class="container-sm pv-14">
          <h5>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>
          <form action="" class="mb-35">
            <div class="form-group">
              <label for="">Escribe tu respuesta en el siguente recuadro:</label>
              <textarea name="" id="" rows="5" class="form-control"></textarea>
            </div>
          </form>
          <h5>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>
          <form action="" class="mb-35">
            <div class="form-group">
              <label for="">Escribe tu respuesta en el siguente recuadro:</label>
              <textarea name="" id="" rows="5" class="form-control"></textarea>
            </div>
          </form>
          <h5>¿Lorem ipsum dolor sit amet, consectetur adipisicing elit?</h5>
          <form action="">
            <div class="form-group">
              <label for="">Escribe tu respuesta en el siguente recuadro:</label>
              <textarea name="" id="" rows="5" class="form-control"></textarea>
            </div>
            <div class="form-group text-right">
              <button type="submit" class="btn btn-primary">Sube tus respuestas</button>
            </div>
          </form>
        </div>
        <div class="container pv-14">
          <h3>Todas las respuestas a las tres preguntas</h3>
          <hr style="border-top: 3px dotted #aeab8b;">
          <a href="#">Nueva</a> | <a href="#">Antigua</a> | <a href="#">Las más comentadas</a>


          <div class="row text-white bg-panel p-14 normalize-text mt-21">
            <div class="col-sm-3">
              <h4>Autor</h4>
            </div>
            <div class="col-sm-9">
              <h4>Título del foro: Mujeres en la política (Leído 770 veces)</h4>
            </div>
          </div>
          <div class="row" style="border-bottom: 3px dotted #aaa;">
            <div class="col-sm-3 p-0">
              <div class="bg-panel p-35">
                <div class="mt-21 mb-42">
                  <strong>Red PROLID</strong><br>
                  <span>Administrador</span><br>
                  <img src="../assets/img/user.jpg" class="mt-7 img-responsive"  style="width: 100px;">
                </div>
              </div>
            </div>
            <div class="col-sm-9 pv-21">
              <div class="titulo-foro-msje">
                  <img src="../assets/img/foros-msj.png">
                  <strong>Mujeres en la política </strong><br>
                  <p class="pl-42">Respuesta #1: <span>Agosto 1 de 2014, 10:30 a.m.</span></p>
                  <a href="#" class="text-primary block text-right"><strong>Comenta</strong></a>
                  <hr>
                  <p class="pl-14 pr-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi est laborum.</p>
                  <a href="#"><img src="../assets/img/lampara.png" class="pull-right"></a>
              </div>
            </div>
          </div>
          <div class="row" style="border-bottom: 3px dotted #aaa;">
            <div class="col-sm-3 p-0">
              <div class="bg-panel p-35">
                <div class="mt-21 mb-42">
                  <strong>Red PROLID</strong><br>
                  <span>Administrador</span><br>
                  <img src="../assets/img/user.jpg" class="mt-7 img-responsive" style="width: 100px;">
                </div>
              </div>
            </div>
            <div class="col-sm-9 pv-21">
              <div class="titulo-foro-msje">
                  <img src="../assets/img/foros-msj.png">
                  <strong>Mujeres en la política </strong><br>
                  <p class="pl-42">Respuesta #2: <span>Agosto 1 de 2014, 10:30 a.m.</span></p>
                  <a href="#" class="text-primary block text-right"><strong>Comenta</strong></a>
                  <hr>
                  <p class="pl-14 pr-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi est laborum.</p>
                  <a href="#"><img src="../assets/img/lampara.png" class="pull-right"></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 p-0">
              <div class="bg-panel p-35">
                <div class="mt-21 mb-42">
                  <strong>Red PROLID</strong><br>
                  <span>Administrador</span><br>
                  <img src="../assets/img/user.jpg" class="mt-7 img-responsive" style="width: 100px;">
                </div>
              </div>
            </div>
            <div class="col-sm-9 pv-21">
              <div class="titulo-foro-msje">
                  <img src="../assets/img/foros-msj.png">
                  <strong>Mujeres en la política </strong><br>
                  <p class="pl-42">Respuesta #3: <span>Agosto 1 de 2014, 10:30 a.m.</span></p>
                  <a href="#" class="text-primary block text-right"><strong>Comenta</strong></a>
                  <hr>
                  <p class="pl-14 pr-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi est laborum.</p>
                  <a href="#"><img src="../assets/img/lampara.png" class="pull-right"></a>
              </div>
            </div>
          </div>
        </div>
      </section> <!-- dajhdsak -->
    </div>
    <footer>
      <div class="container">
        <div class="row to-top">
          <a href="#"><img src="http://redprolid.org/wp-content/themes/redprolid/assets/icons/to-top.png" alt=""></a>
        </div>
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled text-white">
              <li><a href="#">Contáctanos</a></li>
              <li><a href="#">Mapa de sitio</a></li>
            </ul>
          </div>
          <div class="col-md-6 text-center">
            <a href="#"><img src="../assets/img/logo_redprolid-footer.png" width="322px" height="auto"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="#"><img src="../assets/img/logo_BID-footer.png" width="145px" height="auto"></a>
          </div>
        </div>
        <div class="row mt-21">
          <div class="col-md-3">
            <p class="text-white">Síguenos en las redes:</p>
            <ul class="list-unstyled social-links">
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-md-6 text-center">
            <nav class="text-white">
              <a href="#">Políticas de privacidad </a>
              <a href="#"> Políticas de cookies </a>
              <a href="#"> Políticas de uso</a>
            </nav>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </footer>
    <section class="copyright bg-gray-dark">
      <div class="container text-center">
        <p class="text-white m-0">2014. Todos los derechos reservados</p>
      </div>
    </section>

    <script src="../js/vendor/jquery-2.1.1.min.js"></script>
    <script src="../js/b3/transition.js"></script>
    <script src="../js/b3/modal.js"></script>
    <script src="../js/bid.js"></script>
  </body>
</html>