<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Red Prolid | Banco Interamericano del Desarrollo BID</title>
    <!-- Project SEO -->
    <meta name="description" content="">
    <meta name="keywords" content="" /> 
    <meta name="author" content="Ayu Consulting S.A.C" />

    <!-- Responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:url" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:image" content="">

    <!-- FAVICON -->
    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- Apple Mobile -->
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- Apple icons -->
    <link rel="apple-touch-icon" sizes="156x156" href="">
    <link rel="apple-touch-icon" sizes="128x128" href="">
    <link rel="apple-touch-icon" sizes="76x76" href="">
    <link rel="apple-touch-icon" href="">

    <!-- WebFonts -->
    <script async type="text/javascript" src="//use.typekit.net/nsv5vjx.js"></script>
    <script async type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- APP STYLES -->
    <link rel="stylesheet" href="../stylesheets/main.css">
    <!-- <link rel="stylesheet" href="stylesheets/main.min.css"> -->
  </head>
  <body>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="logo">
              <a href="#"><img src="../assets/img/logo_redprolid-header.png" class="img-responsive"></a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="user-sign-up text-center">
              <h3>¿Quieres ser parte <br>de la Red PROLID?</h3>
              <a href="#" class="btn btn-primary">Únete</a>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="user-sign-in-form">
              <form>
                <h4>Mi información</h4>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Usuario o correo electrónico">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="form-group row">
                  <div class="col-xs-7">
                    <a href="#" class="">Olvidé mi contraseña</a>
                  </div>
                  <div class="col-xs-5 text-right">
                    <button type="submit" class="btn btn-primary btn-sm">Ingresa</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="nav-main-menu">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 pr-0">
            <ul class="list-unstyled m-0">
              <li><a href="#" class="home"><i></i></a></li>
              <li>
                <a href="#" class="red-prolid"><i></i><span>Red PROLID</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Contáctanos</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="dtl"><i></i><span>Desarrolla tu liderazgo</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">¿A dónde v@mos?</a></li>
                  <li><a href="#">Carrera de vallas</a></li>
                  <li><a href="#">Nivelando la cancha</a></li>
                  <li><a href="#">Listas para la política</a></li>
                  <li><a href="#">Agenda de género</a></li>
                  <li>
                    <a href="#">Pistas &gt;</a>
                    <ul class="list-unstyled">
                      <li><a href="#">"La pinta no es lo de menos"</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="#" class="enterate"><i></i><span>Entérate</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Noticias</a></li>
                  <li><a href="#">Eventos</a></li>
                  <li><a href="#">Nuestro boletín</a></li>
                  <li><a href="#">Campeonas</a></li>
                  <li><a href="#" class="videos"><span></span>Videos</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="concursos"><i></i><span>Concursos</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Concursos anteriores</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="charla-cafe"><i></i><span>Charlacafé</span></a>
                <ul class="list-unstyled">
                  <li><a href="#">Foros virtuales</a></li>
                  <li><a href="#">Webinarios</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="col-sm-4 pl-0">
            <form>
              <div class="input-group">
                <input type="search" class="form-control" placeholder="Buscar">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="button"></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="mh-700">
      <section id="dtl-adonde-vamos">
        <div class="container relative dtl-content">
          <div class="absolute dtl-custom-heading">
            <div><img src="../assets/img/dtl-la-pinta-icon.png" alt=""></div>
            <h1 style="color: #007c8d;">"La pinta es lo de menos"</h1>
            <hr style="border-top: 3px dotted #007c8d;">
          </div>
          <img src="../assets/img/dtl-la-pinta.jpg" alt="" class="pull-right mr-21 img-circle" width="560px" height="auto">
          <p class="text-left pt-14-100">Dentro de nuestras Pistas incluimos este apartado específico, «La pinta no es lo de menos», que nos aporta algunos consejos sobre nuestro aspecto físico y forma de vestir, con el fin de mejorar nuestra imagen pública y laboral, según el contexto en el que nos desenvolvamos. Comenzamos por referirnos a la ropa, el maquillaje, el peinado y los accesorios, hasta ideas para ponernos en forma, manejar un embarazo en la oficina o aprender a sacar el mejor partido de nuestra oratoria en contextos institucionales y políticos.</p>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <ul class="list-unstyled text-muted">
              <li><a href="#">Contáctanos</a></li>
              <li><a href="#">Mapa de sitio</a></li>
            </ul>
          </div>
          <div class="col-md-6 text-center">
            <a href="#"><img src="../assets/img/logo_redprolid-footer.png" width="322px" height="auto"></a>
          </div>
          <div class="col-md-3 text-center">
            <a href="#"><img src="../assets/img/logo_BID-footer.png" width="145px" height="auto"></a>
          </div>
        </div>
        <div class="row mt-21">
          <div class="col-md-3">
            <p class="text-muted">Síguenos en las redes:</p>
            <ul class="list-unstyled social-links">
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class="col-md-6 text-center">
            <nav class="text-muted">
              <a href="#">Políticas de privacidad </a>
              <a href="#"> Políticas de cookies </a>
              <a href="#"> Políticas de uso</a>
            </nav>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </footer>
    <section class="copyright bg-gray-dark">
      <div class="container text-center">
        <p class="text-muted m-0">2014. Todos los derechos reservados</p>
      </div>
    </section>

    <script src="js/vendor/jquery-2.1.1.min.js"></script>
    <script src="js/bid.js"></script>
  </body>
</html>