//
// CUSTOM MIXINS & VARIABLES FOR OVERALL STYLING
// --------------------------------------------------

// EBM:REF
// LIST UNSTYLED
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

// EBM:REF
// CONTROL FULL WIDTH BG IMAGES
@mixin bg-img-control {
	background-repeat: no-repeat;
	background-size: cover;
}
@mixin bg-img-control-center {
	background-position: center center;
}
@mixin bg-img-control-center-x {
	background-position-x: center;
}
@mixin bg-img-control-center-y {
	background-position-y: center;
}
@mixin bg-img-control-bottom {
	background-position-y: bottom;
}
@mixin bg-img-control-top {
	background-position-y: top;
}
@mixin bg-img-control-left {
	background-position-x: left;
}
@mixin bg-img-control-right {
	background-position-x: right;
}
.bg-img-block {
	@include bg-img-control;
	background-position: center center;
}
.bg-img-block-no-cover {
	@include bg-img-control;
	background-size: 98px;
	background-position: center center;
}
.bg-img-block-center {
	@include bg-img-control-center;
}
.bg-img-block-center-x {
	@include bg-img-control-center-x;
}
.bg-img-block-center-y {
	@include bg-img-control-center-y;
}
.bg-img-block-bottom {
	@include bg-img-control-bottom;
}
.bg-img-block-top {
	@include bg-img-control-top;
}
.bg-img-block-left {
	@include bg-img-control-left;
}
.bg-img-block-right {
	@include bg-img-control-right;
}

// ALT FONT for FONTS_CUSTOM
$font-family-alt:         "alt-name", $font-family-sans-serif;

// EBM:REF
// CUSTOM CONTAINER VARIABLE
$container-xs: 								((480px + $grid-gutter-width)) !default;
$container-fluid: 						 $grid-gutter-width / 2; 