// BANNERS
.banner {
	@include clearfix;
	border-bottom: 1px solid $gray-lighter;
	.banner-pic,
	.banner-content {
		position: relative;
		@include flex-middle;
	}
	.banner-pic {
		@include bg-img-control;
		min-height: $banner-height - 70;
		min-height: rem($banner-height - 70);
		// @media #{$sm-up} {
		// 	padding: 0;
		// }
		// img {
		// 	width: 100%;
		// 	height: auto;
		// }
	}
	.banner-label {
		@include position(absolute, -14px null null $container-fluid);
		// text-align: center;
		padding: 3px 7px;
		width: 100%;
		span {
			text-transform: uppercase;
		}
	}
	.banner-content {
		min-height: $banner-height + 30;
		min-height: rem($banner-height + 30);
		padding: $container-fluid * 2;
		@media #{$sm-down} {
			min-height: $banner-height / 2;
			min-height: rem($banner-height / 2);
			padding: $container-fluid;
		}
	}
	&.banner-label-bottom {
		.banner-label {
			@include position(absolute, null null 0 0);
			top: inherit;
		}
	}
	&.half-height {
		.banner-pic,
		.banner-content {
			min-height: $banner-height / 2;
		}
	}	
	&.borderless {
		border: none;
	}
}

.flex-none {
	display: block !important;
}