header {
	@include box-shadow(0 3px 21px 3px $gray-light);
	.logo {
		img {
			width: 200px;
			height: auto;
		}
	}
}

.sub-header {
	border-radius: $border-radius-base;
	border-bottom: 1px dotted $panel-bg;
	margin-bottom: 42px;
	margin-bottom: rem(42px);
	@include position(relative);
	@include normalize-text;
	> [class*="col-"] {
		@include flex-middle;
		min-height: 112px;
		min-height: rem(112px);
		padding-top: $container-fluid;
		padding-bottom: $container-fluid;
		> div {

		}
	}
	.sub-header-icon {
		@include position(absolute, 0 ($container-fluid * 3) null null);
		padding: $container-fluid;
		background-color: darken($panel-bg, 21%);
		img {
			width: 94px;
			height: auto;
		}
	}
	&.no-border {
		border: none !important;
	}
	&:not(.bg-panel) {
		h1 {
			color: $panel;
			@include medium;
		}
	}
}