footer {
	background: $gray-darker;
	// margin-top: 35px;
	position: relative;
}

.to-top {
	position: relative;
	a {
		display: block;
		position: absolute;
		text-align: center;
		width: 100%;
		top: -56px;
		img {
			width: 52px;
			height: auto;
		}
	}
}

.copyright {
	background-color: #292929;
	padding:14px 0;
}

.social-links {
	@media only screen and (max-width: 386px){
	   padding-left: 80px;	
	 }
	@media only screen  and (max-width: 320px) {
	  padding-left:50px;
  } 	
	@include list-unstyled;
	li {
		float: left;
		// margin-right: 12px;
		border-right: 2px solid black;
		padding: 0 12px;
		&:last-child {
			border: none;
		}
		&:first-child {
			padding: 0 12px 0 0;
		}
		a {
			color: white;
			&:hover {
				color: white;
				i {
					color: white;
				}
			}
			i {
				font-size: 21px;
				color: white;
			}
		}
	}
}
.site-map {
	li {
		a {
			border-bottom: 2px solid black;
		}
	}
}

.terms {
	a {
		font-size: $font-size-base;
		@include light;
	}
	nav {
		a {
			border-right: 2px solid black;	
			&:last-child {
				border: none;
			}
			padding: 0 12px;
		}
	}
}


