// GLOBAL SIZE CONTROL
$banner-height: 210px;

header,
section {
	padding:0rem;
	margin:0rem;
}


footer {
	padding: $grid-gutter-width 0;
	padding: rem($grid-gutter-width) 0;
}

.with-shadow {
	padding-bottom: 56px;
	background: url(../assets/img/shadow-container.png) no-repeat center bottom;
}

.with-hr {
	border-bottom: 2px dotted $panel-bg;
	padding-bottom: 21px;
}

.see-more {
	@include bold;
	&:after {
		content: " >>";
	}
}

#hero-unit {
	padding: 0;
	.content {
		position: relative;
		min-height: 300px;
		background: darken($panel-bg, 14%);
		.network-right {
			position: absolute;
			right: 0;
			top: -21px;
			height:300px;
		}
	}
}

ul.table-list {
	@include list-unstyled;
	text-align: center;
	li {
		@include clearfix;
		float: none;
		display: inline-block;
		min-width: 70%;
		> span, 
		> div,
		> strong,
		> p,
		> h1, > h2, > h3, > h4, > h5, > h6 {
			display: block;
			float: left;
			padding: 0 ($grid-gutter-width / 3);
			margin: 0;
			min-width: 21%;
			&:last-child {
				float: right;
			}
		}
	}
}

.progress-bar {
	width: 350px;
	height: 21px;
	position: relative;
	background: $panel-bg;
	span {
		position: absolute;
		display: block;
		background: $brand-primary;
		height: 21px;
		left: 0;
	}
}

//  Negative Margins
@for $h from -10 to -1 {
  .mt-#{$h} {
    margin-top: ($h) + px!important;
    margin-top: rem($h)!important;
  }
}

@for $h from -25 to -1 {
  .ml-#{$h} {
    margin-left: ($h) + px!important;
    margin-left: rem($h)!important;
  }
}

@for $h from -10 to -1 {
  .mb-#{$h} {
    margin-bottom: ($h) + px!important;
    margin-bottom: rem($h)!important;
  }
}