header {
	@include box-shadow(0 3px 21px 3px $gray-light);
	.logo {
		img {
			width: 200px;
			height: auto;
		}
	}
}

.sub-header {
	> [class*="col-"] {
		@include flex-middle;
		min-height: 21px;
		padding-top: $container-fluid;
		padding-bottom: $container-fluid;
		> div {

		}
	}
}