.table {
	&.table-unstyled {
		tr {
			td {
				border: none;
			}
		}
	}
}

.enterate-calendar {
	h2 {
		display: none;
	}
}

#wp-calendar {
	width: 100%;
	text-align: center;
	caption,
	thead ,
	tfoot ,
	tbody {
		text-align: center;
	}
	caption {
		padding-bottom: 7px; 
		text-transform: uppercase;
		color: white;
	}
	thead {
		tr {
			th {
				color: white;
				text-transform: uppercase;
				@include light;
				text-align: center;
			}
		}
	}
	tfoot {}
	tbody {
		tr {
			td {
				color: white;
				@include light;
				padding: 3px;
				border: 1px solid white;
				&:first-child {
					border-left: none;
				}
				&:last-child {
					border-right: none;
				}
				a {
					color: $brand-primary;
				}
				&:hover {
					background-color: $brand-primary;
				}
			}
		}
	}
}