#contacto {
	#formBuilderCSSIDContact_form {
		.formBuilderLabelRequired.control-label {
			font-size: 16px !important;
		}
		#formBuilderFieldName {
			.formBuilderLabel.control-label {
				margin-left: 72px !important;
				margin-right: 0px !important;
			}	
		}
		#formBuilderFieldEmail {
			.formBuilderLabel.control-label {
				margin-left: 72px !important;
				margin-right: 0px !important;
			}	
		}
		.control-group.formBuilderField.large-text-area {
				font-size: 16px !important;
				margin-right: 14px !important;
			}
			// .formBuilderLargeTextarea.controls {
			// 	textarea {
			// 		width: 70% !important;
			// 	}
			// }
		}
		.formBuilderSubmit {
			input {
				float: right !important;
				margin-right: 42px;
			}
		}		
}