.dtl-content {
	p {
		line-height: 28px;
		color: $gray-dark;
	}
}

.dtl-custom-heading {
	width: 95%;
	padding-left: 114px;
	padding-top: 25px;
	position: absolute;
	> div:first-child {
		width: 85px;
		height: 85px;
		position: absolute;
		left: 14px;
		top: 28px; 
	}
	h1 {
		@include bold;
		font-size: 40px;
		margin-top: 35px;
	}
	hr {
		margin-top: 12px;
	}
} 

.dtl-path {
	background: url(../assets/img/dtl-dtl-path.png) no-repeat center center;
	height: 397px;
	background-size: 89%;
	a {
		display: block;
		height: 397px;
	}
	&.dtl-path-sm {
		height: 240px;
		a {
			height: 240px;
		}
	}
}

.sumate-al-debate {
	.container {
		@include box-shadow(inset -12px 5px 7px 3px $gray-lighter);
		position: relative;
		min-height: 350px;
		padding-bottom: 35px;
		padding-bottom: rem(35);
	}
	.ribbon {
		position: absolute;
		top: -8px;
		left: 35px;
	}
	.title {
		margin-bottom: 21px;
		p {
			color: $gray-light;
			margin-bottom: 0;
		}
		span {
			display: block;
			color: $brand-primary;
		}
	}
	.content {
		text-align: justify;
		p {
			color: $gray-dark;
			line-height: 28px;
		}
		strong {
			@include bold;
			line-height: 28px;
			color: $gray-dark;
		}
	}
	.footer {
		padding: 35px 0;
		padding: rem(35) 0;
		text-align: center;
		border-bottom: 2px dotted $gray-lighter;
	}

	// DEBATES ANTERIORES COLUMNA 2
	.debates-anteriores {
		background: $panel-bg;
		padding: 21px;
		color: $gray-dark;
	}
}

.title-a-donde-vamos {
	color: #f05f6a !important;
}
.title-agenda-de-genero {
	color: #c02f73 !important;
}
.title-carrera-de-vallas {
	color: #9a205c !important;
}
.title-la-pinta-no-es-lo-de-menos {
	color: #007c8d !important;
}
.title-listas-para-la-politica {
	color: #015a71 !important;
}
.title-nivelando-la-cancha {
	color: #599a97 !important;
}
.title-pistas-2 {
	color: #007c8d !important;
} 

#dtl-grid {
	ul {
		@include clearfix;
		li {
			width: 33.28%;
			float: left;
			padding: 21px;
			padding: rem(21);
			a {
				display: block;
				img {
					width: 100%;
					height: auto;
				}
				&:hover {
					text-decoration: none;
					.color {
						display: block;
					}
					.gs {
						display: none;
					}
				}
				.title {
					@include clearfix;
					position: relative;
					padding-left: 84px;
					img {
						position: absolute;
						top: -42px;
						left: 0;
						z-index: 30;
						width: 77px;
						height: auto;
					}
					hr {
						border-top: 2px dotted $gray-light;
					}
				}
				.color {
					display: none;
				}
			}
		}
	}
}

.z-index-100 {
	z-index: 100;
}




