.event-separator {
	border-left:1px solid $gray-light;
} 
.events-next {
	border-top:1px solid $gray-light;
	.panel {
		background: none repeat scroll 0% 0% #EBEADE;
		padding:14px;
			h3 {
				line-height: 80% !important;
			}
	}
	p {
		span {
			@include medium;
		}
	}	
}
.event-destacados {
	p {
		span {
			@include medium;
		}
	}	
}

@media only screen and (max-width: 480px){
   .texto-anchor-quieres-compartir-tu-pub,			
   .texto-anchor-quieres-compartir-un-evento{
   	 font-size: 22px;
   }   
   .flickity-prev-next-button.previous {
		  left: 0px;
		}
	 .flickity-prev-next-button {
		  position: absolute;
		  top: 50%;
		  width: 30px;
		  left: 236px;
		  height: 30px;
		}
	 .banner .banner-content {
	  min-height: 140px;
	  min-height: 8.75rem;
	  padding: 28px;
	}
	.banner .banner-pic {
	  background-repeat: no-repeat;
	  background-size: cover;
	  min-height: 210px !important;
  }
}