// EVENTS CALENDAR PLACEHOLDER 
.dtl-home {
	.list-unstyled {
		margin-top:-1rem;
		.title {
			color:$gray-darker !important;
		}
	}
}
.events-calendar-placeholder {
	width: 100%;
	height: 210px;
	background: url(../assets/img/home-events-calendar.png) no-repeat 21px center;
	@include medium;
	.day {
		width: 38px;
		height: 35px;
		border-radius: 50%;
		background: none repeat scroll 0% 0% #ED7133;
		color: #FFF;
		padding: 8px 6px;
		text-transform: uppercase !important;
		position: relative;
		top: 3.7rem;
		left: 2.5rem;
		font-size: 0.9rem;
	}
	.day-num,
	.month {
		color: $gray;
	}
	.day-num {
		font-size: 70px;
		font-size: rem(70);
		position: relative;
		top: 2rem;
		left: 5rem;	
		@include medium;	
	}
	.month {
		font-size: 18px;
		font-size: rem(18);
		text-transform: uppercase !important;
		position: relative;
		top: 0;
		left: 6.2rem;		
	}
}


.custom-vote {
	float: right !important;
	margin-top: 7.2rem !important;
	font-weight: 100 !important;
	font-size: 15px !important;
}  

.view-results {
	bottom: 1.7rem;
	position: relative;
	z-index: 10000;
}

.respuesta {
	font-size: 16px !important;
	margin-left: 7px !important;
	font-weight:100 !important;
}

.comentarios {
	.title {
		margin:10px 0 16px 0 !important;
	}
	li {
		border-bottom:1px solid #CCC;
		padding-bottom:5px;
	}
}

.widgets {
	.container .row {
		.col-md-3 {
			.highlight {
				background-color: #EBEADE;
				padding:14px !important;
			}			
			.panel-custom {
				.title {
					color:$gray-darker !important;
				}
				.panel-body {
					min-height:425px;
					padding:0 0 14px 0;
					h5 {
						@include medium;
						color: $gray-dark !important;
					}
					.list-unstyled {
						li {
							border-bottom: 1px solid $gray-light;
							padding-bottom:5px;
						}						
					}
					.btn {
						position:absolute;
						bottom:14px;
					}
				}
			}
		}
	}
	#opinion {
		.panel {
			.panel-body {
				.yop-poll-answers {
					padding-left:3px;
				}
				.yop-poll-answers li:nth-child(6) {
					display: none;
				}
				// .yop-poll-container {
				// 	padding:0px !important;
				// 	width:100%;
				// }
				.yop-poll-question {
					// padding:10px !important;
					font-size: 18px;
				}
			}	
		}	
	}
}

div[id^="yop-poll-results-3"] {
	display: none !important;
}			

/* DTL CAROUSEL */
.jcarousel {
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 300px;
}
.dtl-carousel {
	// width: 2000px;
	// position: absolute;
	.grid-list-item {
		// width: 240px !important;
		div {
			min-height: 0 !important;
		}
	}
	.dtl-item {
		position: relative;
		@include border-top-radius($border-radius-base);
		@include border-bottom-radius($border-radius-base);
		/*border: 1px solid darken(white, 3%);*/
		.bg-img-block {
			height: 180px;
			@include border-top-radius($border-radius-base);
		}
		.dtl-title {
			padding: $container-fluid;
			h3 {
				text-align: center;
				font-size: 18px;
			}
		}
		&:hover {
			/*@include box-shadow-default;
			cursor: pointer;*/
			opacity:0.3;
		}
	}
	.dtl-icon {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		@include position(absolute, 0 0 null null);
		@include bg-img-control;
	}
}


// DTL HOME CAROUSEL 
$dtl-colors-list: 
	$dtl-adonde-vamos,
	$dtl-agenda-genero,
	$dtl-carrera-vallas,
	$dtl-la-pinta,
	$dtl-listas-politica,
	$dtl-nivelando-cancha,
	$dtl-pistas;

$dtl-colors-sufix-list:
	"dtl-adonde-vamos",
	"dtl-agenda-genero",
	"dtl-carrera-vallas",
	"dtl-la-pinta",
	"dtl-listas-politica",
	"dtl-nivelando-cancha",
	"dtl-pistas";

@for $i from 1 through length($dtl-colors-list) {
	.bg-#{nth($dtl-colors-sufix-list, $i)} {
		background-color: #{nth($dtl-colors-list, $i)};
	}
}

.carousel-inner { 
	.slide-content {
		bottom: 1.2rem;
		z-index: 1000;
	}
}








