// EVENTS CALENDAR PLACEHOLDER 
.events-calendar-placeholder {
	width: 100%;
	height: 210px;
	background: url(../assets/img/home-events-calendar.png) no-repeat 21px center;
	padding: 35px;
	text-align: center;
	@include bold;
	.day {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		background: $brand-primary;
		color: white;
		padding: 9px 0;
	}
	.day-num,
	.month {
		color: $gray;
	}
	.day-num {
		font-size: 70px;
		font-size: rem(70);
		line-height: 70px;
		@include bold;
	}
	.month {
		font-size: 21px;
		font-size: rem(21);
	}
}

#widgets {
	.container .row {
		.col-md-3 {
			.panel-custom {
			height: 1200px !important;
			}
			&.eventos {
				.panel-body {
					p {
						&.event-des {
							line-height: 1rem !important;
						}
					}
				}
			}
		}
	}
	#opinion {
		.panel {
			.panel-body {
				.panel-lost {
					.yop-poll-answers li:nth-child(6) {
						display: none;
					}
				}
			}	
		}	
	}
}