.noticias-grid { 
	[class*="col-"] {
		// img {
		// 	width:359px;
		// 	max-height:240px;
		// }
		> div {
			background-color: white;
			padding: $container-fluid;
			min-height: 350px;
			min-height: rem(350px);
		}
	}
}

@media only screen and (max-width: 480px){
	 .text-anchor-quieres-compaartir-noticias > a{
	   font-size: 22px;	
	 }	
	.noticias-grid .banner {
    float: left !important;		
	  display: table-cell;
	  vertical-align: top;
	} 
}