.noticias-grid { 
	[class*="col-"] {
		// img {
		// 	width:359px;
		// 	max-height:240px;
		// }
		> div {
			background-color: white;
			padding: $container-fluid;
			min-height: 350px;
			min-height: rem(350px);
		}
	}
}