.header-text-quees-red-prolid{
	color: white;
}
.red-prolid-grid {
	@include clearfix;
	li {
		float: left;
		width: 19.95%;
		text-align: center;
		padding: 14px;
		padding: rem(14);
		p {
			margin-top: 14px;
			margin-top: rem(14);
		}
	}
}
.redprolid-banner {
	background: #ebeade !important;
	padding:0 20px;
	img {
		
	}
}
.img-aquienvadirgida{
	padding-left:14px;
}
.img-redprolidnace{
	padding-right:14px;
}
@media (max-width:768px){
 .bg-transparent{
  	background-image: none !important;
 }	
    .icon-responsive-mt,
	.icon-enterate,
	.icon-campeonas,
	.icon-punto-de-vista,
	.icon-noticias,
	.icon-videos,
	.icon-eventos,
	.icon-publicaciones,
	.icon-nuestro-boletin,
	.icon-contactanos{
		padding-top:70px !important;
	}	
}
@media (max-width:667px){
	.title-listas-para-la-politica,
	.txt-mt-res-landscape,
  	.icon-enterate,
	.icon-campeonas,
	.icon-punto-de-vista,
	.icon-noticias,
	.icon-videos,
	.icon-eventos,
	.icon-publicaciones,
	.icon-nuestro-boletin,
	.icon-contactanos{
		padding-top:70px !important;
	}		
}
@media (max-width: 568px){
	.title-listas-para-la-politica,
	.txt-mt-res-landscape,
  	.icon-enterate,
	.icon-campeonas,
	.icon-punto-de-vista,
	.icon-noticias,
	.icon-videos,
	.icon-eventos,
	.icon-publicaciones,
	.icon-nuestro-boletin,
	.icon-contactanos{
		padding-top:70px !important;
	}	
}	
@media only screen and (max-width: 480px){
	.bg-transparent{
		background-image: none !important;
	}
	.header-text-quees-red-prolid {
	  color: #c3bf9b !important;
	  position: relative;
	}
	.red-prolid-grid li {
	  text-align: center !important;
	  float: none !important;
	  padding: 0rem;
 	  width: 100%;	  
	} 
	.img-aquienvadirgida{
	  padding-left:0px;
	  padding-bottom:14px;	  
	} 
	.img-redprolidnace{
	  padding-right:0px;
	  padding-bottom:14px;
    }
    .parrafo-nace-red-prolid > p{
      padding-left:14px;
	  padding-bottom:14px;    	
    }
}